body{
    min-height: 100vh;
    width: 100%; 
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: blue;
    margin-bottom: 1.5625vw;
}
 
.d-inline-block{
    width: 50px;
    height: 40px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remover sublinhado do link */
    color: white; /* Cor do texto */
}
  
.navbar-brand img {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

#siteCount{
    
}

.pesquisaSites{
    display: flex;
    gap: 1.04vw;
    align-items: center;
    justify-content: center;
    margin-top: 2.60vw;
}

.form-control{
    width: 20.83vw;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;   
}

.tabela th {
    padding: 10px 80px; 
    
}

.addSiteModal {
   background-color: aqua;
}
